{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% load custom_filters %}

{% block css %}
    <link rel="stylesheet" href="{% static "styles\order registration.css" %}">
{% endblock css %}


{% block content %}
    <section class="panel">
        <ul class="menu">
            <a class="menu_link" href="{% url "main:sales" %}"><li class="menu_item">
                <b>Акции</b>
            </li></a>
            <li class="menu_catalog">
                <a class="main-item" href="javascript:void(0);"><b>Каталог</b></a>
                <ul class="sub-menu">
                    {% tag_categories as categories %}
                    {% for category in categories %}
                        <li><a class="menu_link__item" href="{% url "catalog:index" category.slug%}"><b>{{category.name}}</b></a></li>
                    {% endfor %}
                </ul>
            </li>
            <a class="menu_link" href="{% url "main:else" %}"><li class="menu_item">
                <b>Что еще почитать?</b>
            </li></a>
            <a class="menu_link" href="{% url "catalog:bestsellers" %}"><li class="menu_item">
                <b>Бестселлеры</b>
            </li></a>
            <a class="menu_link" href="{% url "catalog:new" %}"><li class="menu_item">
                <b>Новинки</b>
            </li></a>
            <a class="menu_link" href="{% url "main:about" %}"><li class="menu_item">
                <b>О нас</b>
            </li></a>
        </ul>
    </section>

    <hr>

    <section class='qr'>
        <div class="container" style=" text-align: center; justify-content: center; display: flex;">
            <div class="row justify-content-center" style="align-items: center;/* margin-top: 50px; *//* display: flex; */font-size: 18px;">
                <h2>Оплата через QR-код</h2>  <!-- Подпись -->
                <p>Пожалуйста, используйте банковское приложение для сканирования QR-кода и оплаты вашего заказа.</p>  <!-- Инструкции -->
                {% if qr_image_url %}
                    <div style="/* border: 1px solid #ccc; *//* padding: 10px; *//* background-color: #f9f9f9; *//* border-radius: 10px; */">  <!-- Рамка -->
                        <img src="/media/qr_codes/qr_code_Idr0Grh.png" alt="QR Code" style="pointer-events: none;width: 30%;padding: 1%;/* display: flex; *//* max-width: 200px; *//* max-height: 200px; */border: 1px solid #ccc;/* padding: 10px; */background-color: #f9f9f9;border-radius: 10px;">  <!-- Уменьшение размера -->
                    </div>
                {% else %}
                    <div>QR-код не найден.</div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}