{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static "styles\catalog.css" %}">
{% endblock css %}

{% block content %}
    <section class="panel">
        <ul class="menu">
            <a class="menu_link" href="{% url "main:sales" %}"><li class="menu_item">
                <b>Акции</b>
            </li></a>
            <a class="menu_link" href="{% url "main:else" %}"><li class="menu_item">
                <b>Что еще почитать?</b>
            </li></a>
            <a class="menu_link" href="{% url "catalog:bestsellers" %}"><li class="menu_item">
                <b>Бестселлеры</b>
            </li></a>
            <a class="menu_link" href="{% url "catalog:new" %}"><li class="menu_item">
                <b>Новинки</b>
            </li></a>
            <a class="menu_link" href="{% url "main:about" %}"><li class="menu_item">
                <b>О нас</b>
            </li></a>
        </ul>
    </section>

    <hr>

    <section class="block">
        <div class="catalog">
            <div class="catalog__title">
                <h1>Каталог</h1>
            </div>
            <div class="catalog__items">
                <ul>
                    {% tag_categories as categories %}
                    {% for category in categories %}
                        {% if current_category %}
                            {% if category == current_category %}
                                <li><b><a class="catalog__items_item" href="{% url "catalog:index" category.slug %}" style='color: black'>{{category.name}}</a></b></li>
                            {% else %}
                                <li><a class="catalog__items_item" href="{% url "catalog:index" category.slug %}">{{category.name}}<img src= {% static "icons\Vector 12.png" %}></a></li>
                            {% endif %}
                        {% else %}
                            <li><a class="catalog__items_item" href="{% url "catalog:index" category.slug %}">{{category.name}}<img src= {% static "icons\Vector 12.png" %}></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="main">
            {% if request.GET.q %}
                {% if goods %}
                    <h1 class='result' style='color:darkgrey; margin-left:2.5%; margin-bottom: 0; margin-top:2%; font-size:22px;'>Результаты поиска по запросу "{{ request.GET.q }}"</h1>
                {% else %}
                    <h1 class='result' style='color:darkgrey; margin-left:2.5%; margin-bottom: 0; margin-top:2%; font-size:22px;'>По запросу "{{ request.GET.q }}" ничего не найдено</h1>
                {% endif %}
            {% endif %}
            <div class="products">
                {% for good in goods %}
                    <div class="card hidden">
                        <div class="product">
                            <a id="product" href="{% url "catalog:product" good.slug %}">
                                <div class="product-photo">
                                    {% if good.image %}
                                        <img src={{good.image.url}} alt="{{good.name}}">
                                    {% endif %}
                                </div>
                                <div class="product-title">
                                    <div class="product-title__head">
                                        <b>{{good.name}}</b>
                                    </div>
                                    <div class="product-title__author">
                                        {% if good.author_name %}
                                            {{good.author_name}}
                                        {% else %}
                                            <br>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                            <div class="product-info">
                                <div class="product-info__pic">
                                    <button class="product-info__pic" href="#">
                                            <img src={% static "icons\Group 43.png" %}>
                                    </button>
                                    <button class="product-info__pic" href="#">
                                        <img src={% static "icons\Group.png" %}>
                                </button>
                                </div>
                                <div class="product-price">
                                    {% if good.discount %}
                                        <div class="product-price__old">
                                            {{good.price}} ₽
                                            <svg viewBox="0 0 52 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="product-price__line">
                                                <path d="M.88 3.938c16.403-3.917 33.836-3.917 50.238 0" stroke="#F34A57" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
                                            </svg>
                                        </div>
                                        <div class="product-price__new">
                                            <b>{{good.sell_price}} ₽</b>
                                        </div>
                                    {% else %}
                                        <div class="product-price__old">
                                            <br>
                                        </div>
                                        <div class="product-price__new" style='color: black;'>
                                            <b>{{good.price}} ₽</b>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="navigation">
                <button class="btn" type='button'>Показать еще</button>
            </div>
            <script src= {% static "\index.js" %}></script>
            {% comment %} {% if goods.has_next %}
                <div class="navigation">
                    <a class="navigation__btn" href="{% url 'catalog:index' slug_url goods.next_page_number %}">
                        Показать еще
                    </a>
                </div>
            {% endif %} {% endcomment %}
        </div>
    </section>
{% endblock content %}
