{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <section class="panel">
        <ul class="menu">
            <a class="menu_link" href="sales.html"><li class="menu_item">
                <b>Акции</b>
            </li></a>
            <li class="menu_catalog">
                <a class="main-item" href="javascript:void(0);"><b>Каталог</b></a>
                <ul class="sub-menu">
                    <li><a class="menu_link__item" href="classica.html"><b>Классика</b></a></li>
                    <li><a class="menu_link__item" href="manga.html"><b>Манга</b></a></li>
                    <li><a class="menu_link__item" href="detective.html"><b>Детективы</b></a></li>
                    <li><a class="menu_link__item" href="english.html"><b>Книги на английском языке</b></a></li>
                    <li><a class="menu_link__item" href="psychology.html"><b>Психология</b></a></li>
                </ul>
            </li>
            <a class="menu_link" href="else.html"><li class="menu_item">
                <b>Что еще почитать?</b>
            </li></a>
            <a class="menu_link" href="bestsellers.html"><li class="menu_item">
                <b>Бестселлеры</b>
            </li></a>
            <a class="menu_link" href="new.html"><li class="menu_item">
                <b>Новинки</b>
            </li></a>
            <a class="menu_link" href="about_us.html"><li class="menu_item">
                <b>О нас</b>
            </li></a>
        </ul>
    </section>

    <hr>

    <section class="block">
        <div class="header">
            <div class="header__head">
                <div class="header__head_name">
                    <b>В темном омуте Дицзина</b>
                </div>
                <div class="header__head_age">
                    18+
                </div>
            </div>
            <div class="header__author">
                Тянься Гуйюань
            </div>
            <div class="header__info">
                <div class="header__info_discount">
                    <b>-15%</b>
                </div>
                <div class="header__info_category">
                    Новинки литературы
                </div>
            </div>
        </div>
        <div class="book">
            <div class="book__about">
                <div class="book__about_shortly">
                    <div class="book__about_shortly-photo">
                        <img src="images\main\в темном омуте дицзина.png" alt="">
                    </div>
                    <div class="book__about_shortly-text">
                        <input type="checkbox" class="read-more-checker" id="read-more-checker" />
                        <div class="description">
                            Долгожданное продолжение романа Тянься Гуйюань «Восхождение фениксов». В четвертом томе Нин И возвращает Фэн Чживэй в столицу Дицзин. Однако прежде не без помощи секретной техники лекаря Цзуна он запечатывает воспоминания девушки, но не чувства. Теперь героям вновь предстоит окунуться в омут интриг императорского дворца.
                            Впервые на русском языке!<br>
                            На страницах романа читателя ждет Древний Китай с завораживающими весенними пейзажами. Вместе с героями вы вновь прогуляетесь по судьбоносному мосту из первого тома серии, прокатитесь на лодке по реке Лошуй, сразитесь со Вторым принцем Нин Шэном и, конечно, погрузитесь в любовные перипетия Нин И и Фэн Чживэй.
                            В книге вас ожидают цветные вклейки с ключевыми героями истории на мелованной бумаге, запечатанные форзацы и закрашенный обрез!<br>
                            <br>
                            Влюбившись в феникса, дракон будет верен ему до конца.<br>
                            Несколько месяцев Цзинь Сыюй удерживал Фэн Чживэй в плену. Он подвергал ее испытаниям, но Чживэй не сдалась. Она рискнула собственной жизнью во имя долга… и выжила. Но какой ценой? Ее душа оказалась на грани истощения. Горе и ненависть отравили сердце. И все по моей вине.
                            Меня зовут Нин И.<br>
                            Больше не в силах смотреть, как страдает мой самый дорогой человек, я вернул Фэн Чживэй в Дицзин. Однако прежде не без помощи секретной техники лекаря Цзуна запечатал ее воспоминания, но не чувства. Я смотрю, как Чживэй вновь готовится сражаться за Империю, оплетая императорский дворец интригами. Мне все равно, что ждет нас в конце, если она останется со мной…
                        <div class="bottom"></div>
                        </div>
                        <label for="read-more-checker" class="read-more-button"></label>

                        <input type="checkbox" class="read-more-checker-2" id="read-more-checker-2" />
                        <div class="characteristic">
                            <div class="characteristic__item">
                                <div class="characteristic__item_title">
                                    ID товара
                                </div>
                                <div class="characteristic__item_value">
                                    056123
                                </div>
                            </div>
                            <div class="characteristic__item">
                                <div class="characteristic__item_title">
                                    Жанр
                                </div>
                                <div class="characteristic__item_value">
                                    Фэнтези
                                </div>
                            </div>
                            <div class="characteristic__item">
                                <div class="characteristic__item_title">
                                    Год издания
                                </div>
                                <div class="characteristic__item_value">
                                    2024
                                </div>
                            </div>
                            <div class="characteristic__item">
                                <div class="characteristic__item_title">
                                    Издательство
                                </div>
                                <div class="characteristic__item_value">
                                    Freedom
                                </div>
                            </div>
                            <div class="characteristic__item">
                                <div class="characteristic__item_title">
                                    Входит в цикл
                                </div>
                                <div class="characteristic__item_value">
                                    4 том цикла "Восхождение фениксов"
                                </div>
                            </div>
                            <div class="bottom"></div>
                        </div>
                        <label for="read-more-checker-2" class="read-more-button-2"></label>
                    </div>
                </div>
            </div>
            <div class="book__buy">
                <div class="product-price">
                    <div class="product-price__old">
                        1&nbsp;181 ₽
                        <svg viewBox="0 0 52 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="product-price__line">
                            <path d="M.88 3.938c16.403-3.917 33.836-3.917 50.238 0" stroke="#F34A57" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
                        </svg>
                    </div>
                    <div class="product-price__new">
                        <b>1&nbsp;001 ₽</b>
                    </div>
                </div>
                <div class="book__buy_btns">
                    <button class="book__buy_btns-item buy">Купить</button>
                    <button class="book__buy_btns-item like"><img src='icons\Group.png'></button>
                </div>
                <div class="book__buy_status">
                    В наличии
                </div>
            </div>
        </div>
    </section>
{% endblock content %}