<!--Личные данные-->
{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% load goods_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static "styles\personal data.css" %}">
{% endblock css %}

{% block content %}
    <section class="panel">
    <ul class="menu">
    <a class="menu_link" href="{% url "main:sales" %}"><li class="menu_item">
        <b>Акции</b>
    </li></a>
    <li class="menu_catalog">
        <a class="main-item" href="javascript:void(0);"><b>Каталог</b></a>
        <ul class="sub-menu">
            {% tag_categories as categories %}
            {% for category in categories %}
                <li><a class="menu_link__item" href="{% url "catalog:index" category.slug%}"><b>{{category.name}}</b></a></li>
            {% endfor %}
        </ul>
    </li>
    <a class="menu_link" href="{% url "main:else" %}"><li class="menu_item">
        <b>Что еще почитать?</b>
    </li></a>
    <a class="menu_link" href="{% url "catalog:bestsellers" %}"><li class="menu_item">
        <b>Бестселлеры</b>
    </li></a>
    <a class="menu_link" href="{% url "catalog:new" %}"><li class="menu_item">
        <b>Новинки</b>
    </li></a>
    <a class="menu_link" href="{% url "main:about" %}"><li class="menu_item">
        <b>О нас</b>
    </li></a>
    </ul>
    </section>

    <hr>

    <section class="block">
        <div class="catalog">
            <div class="catalog__items">
                <ul>
                    <li><a class="catalog__items_item" href="{% url "user:profile" %}">
                        Профиль
                        <img src="{% static "icons\Vector 12.png" %}">
                    </a></li>
                    <li><a class="catalog__items_item" href="{% url "user:personality" %}" style="color: black">
                        <b>Личные данные</b>
                    </a></li>
                    <li><a class="catalog__items_item" href="{% url "user:my_orders" %}">
                        Заказы
                        <img src="{% static "icons\Vector 12.png" %}">
                    </a></li>
                    <li><a class="catalog__items_item" href="{% url "user:like" %}">
                        Избранное
                        <img src="{% static "icons\Vector 12.png" %}">
                    </a></li>
                    <hr>
                    <li><a class="catalog__items_item" href="{% url "user:logout" %}" style="color: #921A22;">
                        Выйти
                    </a></li>
                </ul>
            </div>
        </div>

        <div class="main">
            <div class="main__title">
                <b>Личные данные</b>
            </div>
            <form action="{% url "users:personality" %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="profile_form">
                <div class="main__item">
                    <div class="main__item_inputContainer">
                        <input class="main__item_inputContainer-txt" inputmode="kana-name" placeholder="*Имя" required 
                        type="name" value="{{form.first_name.value}}" name="first_name" id='id_first_name'>
                        {% if form.first_name.errors %}
                        <div class="alert-danger">
                            {{form.first_name.errors}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="main__item_inputContainer">
                        <input class="main__item_inputContainer-txt" inputmode="surname" placeholder="*Фамилия" required type="surname" value="{{form.last_name.value}}" name="last_name" id='id_last_name'>
                        {% if form.last_name.errors %}
                        <div class="alert-danger">
                            {{form.last_name.errors}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="main__item_inputContainer">
                        <input class="main__item_inputContainer-txt" placeholder="Отчество" type="patronym" value="{% if form.middle_name.value %}{{form.middle_name.value}}{% endif %}" name="middle_name" tag="patronym" id='id_middle_name'>
                        {% if form.middle_name.errors %}
                        <div class="alert-danger">
                            {{form.middle_name.errors}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="main__item_inputContainer">
                        <input class="main__item_inputContainer-txt" placeholder="*Телефон" required type="tel" value="{{form.phone_number.value|phone_format}}" name="phone_number" id='id_phone_number'>
                        {% if form.phone_number.errors %}
                        <div class="alert-danger">
                            {{form.phone_number.errors}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="main__item_inputContainer">
                        <input class="main__item_inputContainer-txt" placeholder="*email" required type="email" value="{{form.username.value}}" name="username" id='id_username'>
                        {% if form.username.errors %}
                        <div class="alert-danger">
                            {{form.username.errors}}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="main__btn">
                    <button type='submit' class="main__btn_btn">Сохранить изменения</button>
                </div>
            </form>
        </div>
    </section>

{% endblock %}