{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "styles\profile.css" %}">
{% endblock css %}

{% block content %}
    <section class="panel">
        <ul class="menu">
            <a class="menu_link" href="sales.html"><li class="menu_item">
                <b>Акции</b>
            </li></a>
            <li class="menu_catalog">
                <a class="main-item" href="javascript:void(0);"><b>Каталог</b></a>
                <ul class="sub-menu">
                    <li><a class="menu_link__item" href="classica.html"><b>Классика</b></a></li>
                    <li><a class="menu_link__item" href="manga.html"><b>Манга</b></a></li>
                    <li><a class="menu_link__item" href="detective.html"><b>Детективы</b></a></li>
                    <li><a class="menu_link__item" href="english.html"><b>Книги на английском языке</b></a></li>
                    <li><a class="menu_link__item" href="psychology.html"><b>Психология</b></a></li>
                </ul>
            </li>
            <a class="menu_link" href="else.html"><li class="menu_item">
                <b>Что еще почитать?</b>
            </li></a>
            <a class="menu_link" href="bestsellers.html"><li class="menu_item">
                <b>Бестселлеры</b>
            </li></a>
            <a class="menu_link" href="new.html"><li class="menu_item">
                <b>Новинки</b>
            </li></a>
            <a class="menu_link" href="about_us.html"><li class="menu_item">
                <b>О нас</b>
            </li></a>
        </ul>
    </section>

    <hr>

    <section class="block">
        <div class="catalog">
            <div class="catalog__items">
                <ul>
                    <li><a class="catalog__items_item" href="profile.html" style="color: black">
                        <b>Профиль</b>
                    </a></li>
                    <li><a class="catalog__items_item" href="personal data.html">
                        Личные данные
                        <img src="icons\Vector 12.png">
                    </a></li>
                    <li><a class="catalog__items_item" href="orders.html">
                        Заказы
                        <img src="icons\Vector 12.png">
                    </a></li>
                    <li><a class="catalog__items_item" href="like.html">
                        Избранное
                        <img src="icons\Vector 12.png">
                    </a></li>
                    <hr>
                    <li><a class="catalog__items_item" href="#" style="color: #921A22;">
                        Выйти
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="main__title">
                <b>Профиль</b>
            </div>
            <div class="main__item">
                <div class="main__item_title">
                    <a href="personal data.html" class="main__item_title-link"><b>Личные данные</b></a>
                </div>
                <div class="main__item_data">
                    <div class="main__item_data-name">
                        <b>Чумакова Ольга</b>
                    </div>
                    <div class="main__item_data-link">
                        +7 (967) 801-45-01 · olga.chumakova2002@mail.ru
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__item_title">
                    <b>Активные заказы</b>
                </div>
                <div class="main__item_orders">
                    <div class="main__item_orders-block">
                        <div class="main__item_orders-block-title">
                            <b>Заказ №71235469 от 13.04.2024</b>
                        </div>
                        <div class="main__item_orders-block-products">
                            <div class="main__item_orders-block-products-good">
                                <div class="good">
                                    <img src="images\psychology\кошечкин тилипон.jpg">
                                </div>
                            </div>
                            <div class="main__item_orders-block-products-sum">
                                <b>400 ₽</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__item_title">
                    <b>Избранное</b>
                    <a href="like.html" class="main__item_title-link-2">Смотреть все<img src="icons\Vector 12.png"></a>
                </div>
                <div class="main__item_data">
                    <ul class="products clearfix">
                        <li class="product-wrapper">
                            <div class="product">
                                <a id="product" href="в темном омуте дицзина.html">
                                    <div class="product-photo">
                                        <img src="images\main\в темном омуте дицзина.png" alt="">
                                    </div>
                                    <div class="product-title">
                                        <div class="product-title__head">
                                            <b>В темном омуте Дицзина</b>
                                        </div>
                                        <div class="product-title__author">
                                            Тянься Гуйюань
                                        </div>
                                    </div>
                                </a>
                                <div class="product-info">
                                    <div class="product-info__pic">
                                        <button class="product-info__pic" href="#">
                                                <img src="icons\Group 43.png">
                                        </button>
                                        <button class="product-info__pic" href="#" style="opacity: 1;">
                                            <img src="icons\Group.png">
                                    </button>
                                    </div>
                                    <div class="product-price">
                                        <div class="product-price__old">
                                            1&nbsp;181 ₽
                                            <svg viewBox="0 0 52 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="product-price__line">
                                                <path d="M.88 3.938c16.403-3.917 33.836-3.917 50.238 0" stroke="#F34A57" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
                                            </svg>
                                        </div>
                                        <div class="product-price__new">
                                            <b>1&nbsp;001 ₽</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-wrapper">
                            <div class="product">
                                <a id="product" href="в темном омуте дицзина.html">
                                    <div class="product-photo">
                                        <img src="images\manga\атака титанов.jpg" alt="">
                                    </div>
                                    <div class="product-title">
                                        <div class="product-title__head">
                                            <b>Атака на титанов. Книга 1</b>
                                        </div>
                                        <div class="product-title__author">
                                            Хадзимэ Исаяма
                                        </div>
                                    </div>
                                </a>
                                <div class="product-info">
                                    <div class="product-info__pic">
                                        <button class="product-info__pic" href="#">
                                                <img src="icons\Group 43.png">
                                        </button>
                                        <button class="product-info__pic" href="#" style="opacity: 1;">
                                            <img src="icons\Group.png">
                                    </button>
                                    </div>
                                    <div class="product-price">
                                        <div class="product-price__old">
                                            999 ₽
                                            <svg viewBox="0 0 52 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="product-price__line">
                                                <path d="M.88 3.938c16.403-3.917 33.836-3.917 50.238 0" stroke="#F34A57" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
                                            </svg>
                                        </div>
                                        <div class="product-price__new">
                                            <b>713 ₽</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-wrapper">
                            <div class="product">
                                <a id="product" href="в темном омуте дицзина.html">
                                    <div class="product-photo">
                                        <img src="images\psychology\Кафе на краю земли.jpg" alt="">
                                    </div>
                                    <div class="product-title">
                                        <div class="product-title__head">
                                            <b>Кафе на краю земли</b>
                                        </div>
                                        <div class="product-title__author">
                                            Джон Стрелеки
                                        </div>
                                    </div>
                                </a>
                                <div class="product-info">
                                    <div class="product-info__pic">
                                        <button class="product-info__pic" href="#">
                                                <img src="icons\Group 43.png">
                                        </button>
                                        <button class="product-info__pic" href="#" style="opacity: 1;">
                                            <img src="icons\Group.png">
                                    </button>
                                    </div>
                                    <div class="product-price">
                                        <div class="product-price__old">
                                            343 ₽
                                            <svg viewBox="0 0 52 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="product-price__line">
                                                <path d="M.88 3.938c16.403-3.917 33.836-3.917 50.238 0" stroke="#F34A57" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
                                            </svg>
                                        </div>
                                        <div class="product-price__new">
                                            <b>255 ₽</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}