{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% load goods_tags %}
{% load carts_tags %}

{% user_likes request as likes %}
{% user_carts request as carts %}

{% block css %}
    <link rel="stylesheet" href="{% static "styles\profile.css" %}">
{% endblock css %}

{% block content %}
    <section class="panel">
        <ul class="menu">
            <a class="menu_link" href="{% url "main:sales" %}"><li class="menu_item">
                <b>Акции</b>
            </li></a>
            <li class="menu_catalog">
                <a class="main-item" href="javascript:void(0);"><b>Каталог</b></a>
                <ul class="sub-menu">
                    {% tag_categories as categories %}
                    {% for category in categories %}
                        <li><a class="menu_link__item" href="{% url "catalog:index" category.slug%}"><b>{{category.name}}</b></a></li>
                    {% endfor %}
                </ul>
            </li>
            <a class="menu_link" href="{% url "main:else" %}"><li class="menu_item">
                <b>Что еще почитать?</b>
            </li></a>
            <a class="menu_link" href="{% url "catalog:bestsellers" %}"><li class="menu_item">
                <b>Бестселлеры</b>
            </li></a>
            <a class="menu_link" href="{% url "catalog:new" %}"><li class="menu_item">
                <b>Новинки</b>
            </li></a>
            <a class="menu_link" href="{% url "main:about" %}"><li class="menu_item">
                <b>О нас</b>
            </li></a>
        </ul>
    </section>

    <hr>

    <section class="block">
        <div class="catalog">
            <div class="catalog__items">
                <ul>
                    <li><a class="catalog__items_item" href="{% url "user:profile" %}" style="color: black">
                        <b>Профиль</b>
                    </a></li>
                    <li><a class="catalog__items_item" href="{% url "user:personality" %}">
                        Личные данные
                        <img src="{% static "icons\Vector 12.png" %}">
                    </a></li>
                    <li><a class="catalog__items_item" href="{% url "user:my_orders" %}">
                        Заказы
                        <img src="{% static "icons\Vector 12.png" %}">
                    </a></li>
                    <li><a class="catalog__items_item" href="{% url "user:like" %}">
                        Избранное
                        <img src="{% static "icons\Vector 12.png" %}">
                    </a></li>
                    <hr>
                    <li><a class="catalog__items_item" href="{% url "user:logout" %}" style="color: #921A22;">
                        Выйти
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="main__title">
                <b>Профиль</b>
            </div>
            <div class="main__item">
                <div class="main__item_title">
                    <a href="{% url "users:personality" %}" class="main__item_title-link"><b>Личные данные</b></a>
                </div>
                <div class="main__item_data">
                    <div class="main__item_data-name">
                        <b>{{form.last_name.value}} {{form.first_name.value}} {% if form.middle_name.value %}{{form.middle_name.value}}{% endif %}</b>
                    </div>
                    <div class="main__item_data-link">
                        {% if form.phone_number.value %}{{ form.phone_number.value|phone_format }}{% endif %} · {{form.username.value}}
                    </div>
                </div>
            </div>
            <div class="main__item">
                <div class="main__item_title">
                    <b>Активные заказы</b>
                    <a href="{% url "user:my_orders" %}" class="main__item_title-link-2">Смотреть все<img src="{% static "icons\Vector 12.png" %}"></a>
                </div>
                {% if orders %}
                    <div class="main__item_orders">
                        <div class="main__item_orders-block">
                            {% for order in orders %}
                                <div class="main__item_orders-block-title">
                                    <b>Заказ №{{order.id}} от {{order.created_timestamp}}</b>
                                </div>
                                <div class="main__item_orders-block-products">
                                    <div class="main__item_orders-block-products-good">
                                        <ul class="products clearfix orders">
                                            {% for item in order.orderitem_set.all %}
                                                <li class="product-wrapper orders__item">
                                                    <div class="good">
                                                        {% if item.product.image %}
                                                            <img src={{item.product.image.url}} alt="{{item.product.name}}">
                                                        {% endif %}
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="main__item_orders-block-products-sum">
                                        <b>{{order.orderitem_set.total_price}} ₽</b>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="main__item">
                <div class="main__item_title">
                    <b>Избранное</b>
                    <a href="{% url "user:like" %}" class="main__item_title-link-2">Смотреть все<img src="{% static "icons\Vector 12.png" %}"></a>
                </div>
                <div class="main__item_data">
                    {% if select %}
                        <ul class="products clearfix">
                            {% for like in select %}
                                <li class="product-wrapper">
                                    <div class="product">
                                        <a href="{% url "catalog:product" like.product.slug %}" id="product">
                                            <div class="product-photo">
                                                {% if like.product.image %}
                                                <img src={{like.product.image.url}} alt="{{like.product.name}}">
                                                {% endif %}
                                            </div>
                                            <div class="product-title">
                                                <div class="product-title__head">
                                                    <b>{{like.product.name}}</b>
                                                </div>
                                                <div class="product-title__author">
                                                    {% if like.product.author_name %}
                                                        {{like.product.author_name}}
                                                    {% else %}
                                                        <br>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </a>
                                        <div class="product-info">
                                            <div class="product-info__pic">
                                                {% if like.product.quantity == 0 %}
                                                    {% if like.product.id in basket %}
                                                        <a class="add-to-cart added-to-cart">
                                                            {% csrf_token %}
                                                            <button class="product-info__pic">
                                                                <img src={% static "icons\Group 43.png" %}>
                                                            </button>
                                                        </a>
                                                    {% else %}
                                                        <a class="add-to-cart">
                                                            {% csrf_token %}
                                                            <button class="product-info__pic">
                                                                <img src={% static "icons\Group 43.png" %}>
                                                            </button>
                                                        </a>
                                                    {% endif %}
                                                {% else %}
                                                    {% if like.product.id in basket %}
                                                        <a href="{% url "cart:cart_add" %}" class="add-to-cart added-to-cart" data-product-id="{{like.product.id}}">
                                                            {% csrf_token %}
                                                            <button class="product-info__pic">
                                                                <img src={% static "icons\Group 43.png" %}>
                                                            </button>
                                                        </a>
                                                    {% else %}
                                                        <a href="{% url "cart:cart_add" %}" class="add-to-cart" data-product-id="{{like.product.id}}">
                                                            {% csrf_token %}
                                                            <button class="product-info__pic">
                                                                <img src={% static "icons\Group 43.png" %}>
                                                            </button>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                                {% if like.product.id in favourites %}
                                                    <a href="{% url "cart:like_add" %}" class="add-to-like added-to-like" data-product-id="{{like.product.id}}">
                                                        {% csrf_token %}
                                                        <button class="product-info__pic">
                                                            <img src={% static "icons\Group.png" %}>
                                                        </button>
                                                    </a>
                                                {% else %}
                                                    <a href="{% url "cart:like_add" %}" class="add-to-like" data-product-id="{{like.product.id}}">
                                                        {% csrf_token %}
                                                        <button class="product-info__pic">
                                                            <img src={% static "icons\Group.png" %}>
                                                        </button>
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <div class="product-price">
                                                {% if like.product.discount %}
                                                    <div class="product-price__old">
                                                        {{like.product.price}} ₽
                                                        <svg viewBox="0 0 52 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="product-price__line">
                                                            <path d="M.88 3.938c16.403-3.917 33.836-3.917 50.238 0" stroke="#F34A57" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
                                                        </svg>
                                                    </div>
                                                    <div class="product-price__new">
                                                        <b>{{like.product.sell_price}} ₽</b>
                                                    </div>
                                                {% else %}
                                                    <div class="product-price__old">
                                                        <br>
                                                    </div>
                                                    <div class="product-price__new" style='color: black;'>
                                                        <b>{{like.product.price}} ₽</b>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <b style='color: darkgrey; font-size: 20px;'>Вы пока ничего не выбрали :( </b>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}