{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static "styles\h.css" %}">
{% endblock css %}


{% block content %}
    <section class="panel">
        <ul class="menu">
            <a class="menu_link" href="{% url "main:sales" %}"><li class="menu_item">
                <b>Акции</b>
            </li></a>
            <li class="menu_catalog">
                <a class="main-item" href="javascript:void(0);"><b>Каталог</b></a>
                <ul class="sub-menu">
                    {% tag_categories as categories %}
                    {% for category in categories %}
                        <li><a class="menu_link__item" href="{% url "catalog:index" category.slug%}"><b>{{category.name}}</b></a></li>
                    {% endfor %}
                </ul>
            </li>
            <a class="menu_link" href="{% url "main:else" %}"><li class="menu_item">
                <b>Что еще почитать?</b>
            </li></a>
            <a class="menu_link" href="{% url "catalog:bestsellers" %}"><li class="menu_item">
                <b>Бестселлеры</b>
            </li></a>
            <a class="menu_link" href="{% url "catalog:new" %}"><li class="menu_item">
                <b>Новинки</b>
            </li></a>
            <a class="menu_link" href="{% url "main:about" %}"><li class="menu_item">
                <b>О нас</b>
            </li></a>
        </ul>
    </section>

    <hr>
    
    <section class="adverts">
        <div class="advetrs__slider">    
            <div class="adverts__pictures">
                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <div class="adverts__pictures-slide s1">
                    <div class="adverts__pictures-slide-first">
                        <div class="adverts__pictures-slide-first--pic">
                            <img src="{% static "images\main\ванпанчмен.png" %}">
                        </div>
                        <div class="adverts__pictures-slide-first--txt">
                            <h1>Манга - Марафон</h1>
                            <p>Скидки на японские комиксы всю неделю</p>
                            <h2>До 30%</h2>
                            <a class='advert__btn' href="{% url "catalog:index" category_slug='Manga' %}"><div class="advert">
                                <b>Перейти</b>
                            </div></a>
                        </div>
                    </div>
                </div>
                <div class="adverts__pictures-slide">
                    <div class="adverts__pictures-slide-second">
                        <div class="adverts__pictures-slide-second--txt">
                            <h1>Загадочные предложения</h1>
                            <p>Cлишком хорошо, чтобы быть правдой</p>
                            <h2>Скидки до 50% на детективные романы <br> с 16:00 до 17:00</h2>
                            <a class='adverts__pictures-slide-second--txt--a' href="{% url "catalog:index" category_slug='Detective' %}"><b>Перейти</b></a>
                        </div>
                        <div class="adverts__pictures-slide-second--pic">
                            <img src="{% static "images\main\detective2.png" %}">
                        </div>
                    </div>
                </div>
                <div class="adverts__pictures-slide">
                    <div class="adverts__pictures-slide-third">
                        <div class="adverts__pictures-slide-third--txt">
                            <h1>Бестселлер</h1>
                            <p>Жить просто - значит избавиться от всего, что не приносит пользу.<br> От ненужных переживаний о прошлом и будущем, от бесконечных попыток быть всегда продуктивным и угрызений совести, если что-то идет не так.</p>
                            <div class="adverts__pictures-slide-third--block">
                                <p1><b>Психология счастья</b></p1>
                                <a class='adverts__pictures-slide-third--a' href="#"><b>Перейти</b></a>
                            </div>
                        </div>
                        <div class="adverts__pictures-slide-third--pic">
                            <img src="{% static "images\main\искусство заботы о душе.png" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="adverts__navigation">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
        </div>
    </section>

    <section class="new">
        <div class="new__title">
            <h1>Новинки литературы</h1>
            <a class="new__link" href="{% url "catalog:new" %}">Смотреть все<img src="{% static "icons\Vector 12.png" %}"></a>
        </div>
        <div class="new__goods">
            <ul class="products clearfix">
                {% for good in new %}
                    <li class="product-wrapper">
                        <div class="product">
                            <a href="{% url "catalog:product" good.slug %}" id="product">
                                <div class="product-photo">
                                    {% if good.image %}
                                    <img src={{good.image.url}} alt="{{good.name}}">
                                    {% endif %}
                                </div>
                                <div class="product-title">
                                    <div class="product-title__head">
                                        <b>{{good.name}}</b>
                                    </div>
                                    <div class="product-title__author">
                                        {% if good.author_name %}
                                            {{good.author_name}}
                                        {% else %}
                                            <br>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                            <div class="product-info">
                                <div class="product-info__pic">
                                    {% if good.id in basket %}
                                        <a href="{% url "cart:cart_add" %}" class="add-to-cart added-to-cart" data-product-id="{{good.id}}">
                                            {% csrf_token %}
                                            <button class="product-info__pic">
                                                <img src={% static "icons\Group 43.png" %}>
                                            </button>
                                        </a>
                                    {% else %}
                                        <a href="{% url "cart:cart_add" %}" class="add-to-cart" data-product-id="{{good.id}}">
                                            {% csrf_token %}
                                            <button class="product-info__pic">
                                                <img src={% static "icons\Group 43.png" %}>
                                            </button>
                                        </a>
                                    {% endif %}
                                    {% if good.id in favourites %}
                                        <a href="{% url "cart:like_remove" %}" class="remove-from-like added-to-like" data-product-id="{{good.id}}">
                                            {% csrf_token %}
                                            <button class="product-info__pic">
                                                <img src={% static "icons\Group.png" %}>
                                            </button>
                                        </a>
                                    {% else %}
                                        <a href="{% url "cart:like_add" %}" class="add-to-like" data-product-id="{{good.id}}">
                                            {% csrf_token %}
                                            <button class="product-info__pic">
                                                <img src={% static "icons\Group.png" %}>
                                            </button>
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="product-price">
                                    {% if good.discount %}
                                        <div class="product-price__old">
                                            {{good.price}} ₽
                                            <svg viewBox="0 0 52 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="product-price__line">
                                                <path d="M.88 3.938c16.403-3.917 33.836-3.917 50.238 0" stroke="#F34A57" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
                                            </svg>
                                        </div>
                                        <div class="product-price__new">
                                            <b>{{good.sell_price}} ₽</b>
                                        </div>
                                    {% else %}
                                        <div class="product-price__old">
                                            <br>
                                        </div>
                                        <div class="product-price__new" style='color: black;'>
                                            <b>{{good.price}} ₽</b>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="dop">
        <div class="dop__title">
            <h1>Книжные циклы</h1>
        </div>
        <div class="dop__items">
            <ul class="cycles books">
                <li class="cycle-wrapper">
                    <a href="" class="cycle">
                        <div class="cycle-photo">
                            <img src="{% static "images\main\harry potter.png" %}" alt="">
                        </div>
                        <div class="cycle-title">
                            <div class="cycle-title__head">
                                <b>Гарри Поттер</b>
                            </div>
                            <div class="cycle-title__about">
                                Алохомора! Открывайте дверь в мир волшебства вместе с Джоан Роулинг! Гарри Поттер – сирота с необычным шрамом на лбу. 11 лет он жил в доме дяди и тёти, пока не узнал, что он – волшебник! Теперь Гарри вместе с новыми друзьями предстоит освоить магию и полёты на метле, найти таинственные крестражи и вступить в борьбу с самим Волан-де-Мортом. Цикл книг состоит из 7 частей. Последняя книга вышла в 2007 году, а поклонники до сих пор помнят и любят историю о мальчике, который выжил. Серия получила множество престижных наград и вошла в список «100 лучших книг всех времён для молодёжи» журнала Time.
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cycle-wrapper">
                    <a href="" class="cycle">
                        <div class="cycle-photo">
                            <img src="{% static "images\main\hobbit.png" %}" alt="">
                        </div>
                        <div class="cycle-title">
                            <div class="cycle-title__head">
                                <b>Хоббит</b>
                            </div>
                            <div class="cycle-title__about">
                                Отправьтесь в увлекательное приключение вместе с Бильбо Бэггинсом в фэнтезийном мире, созданном великим Дж. Р. Р. Толкином! Цикл книг 'Хоббит' рассказывает о путешествии маленького хоббита Бильбо, который отправляется в опасное приключение вместе с группой гномов и волшебником Гэндальфом, чтобы вернуть потерянное королевство гномов и победить дракона Смауга. На его пути встречаются неожиданные опасности, загадочные существа и невероятные испытания. В каждой книге этого захватывающего цикла читателей ждут увлекательные приключения, запутанные загадки и захватывающие сражения. Цикл состоит из трех частей. Начиная с момента выхода в 1937 году, книги о Хоббите завоевали сердца миллионов читателей по всему миру и стали классикой фэнтезийной литературы.
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="comics">
        <div class="comics__title">
            <h1>Манга</h1>
            <a class="comics__link" href="{% url "catalog:index" category_slug='Manga' %}">Смотреть все<img src="{% static "icons\Vector 12.png" %}"></a>
        </div>
        <div class="comics__goods">
            <ul class="products clearfix">
                {% for good in manga %}
                    <li class="product-wrapper">
                        <div class="product">
                            <a href="{% url "catalog:product" good.slug %}" id="product">
                                <div class="product-photo">
                                    {% if good.image %}
                                    <img src={{good.image.url}} alt="{{good.name}}">
                                    {% endif %}
                                </div>
                                <div class="product-title">
                                    <div class="product-title__head">
                                        <b>{{good.name}}</b>
                                    </div>
                                    <div class="product-title__author">
                                        {% if good.author_name %}
                                            {{good.author_name}}
                                        {% else %}
                                            <br>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                            <div class="product-info">
                                <div class="product-info__pic">
                                    {% if good.id in basket %}
                                        <a href="{% url "cart:cart_add" %}" class="add-to-cart added-to-cart" data-product-id="{{good.id}}">
                                            {% csrf_token %}
                                            <button class="product-info__pic">
                                                <img src={% static "icons\Group 43.png" %}>
                                            </button>
                                        </a>
                                    {% else %}
                                        <a href="{% url "cart:cart_add" %}" class="add-to-cart" data-product-id="{{good.id}}">
                                            {% csrf_token %}
                                            <button class="product-info__pic">
                                                <img src={% static "icons\Group 43.png" %}>
                                            </button>
                                        </a>
                                    {% endif %}
                                    {% comment %} {% if good.id in favourites %}
                                        <a href="{% url "cart:like_add" %}" class="add-to-like added-to-like" data-product-id="{{good.id}}">
                                            {% csrf_token %}
                                            <button class="product-info__pic">
                                                <img src={% static "icons\Group.png" %}>
                                            </button>
                                        </a>
                                    {% else %}
                                        <a href="{% url "cart:like_add" %}" class="add-to-like" data-product-id="{{good.id}}">
                                            {% csrf_token %}
                                            <button class="product-info__pic">
                                                <img src={% static "icons\Group.png" %}>
                                            </button>
                                        </a>
                                    {% endif %} {% endcomment %}
                                </div>
                                <div class="product-price">
                                    {% if good.discount %}
                                        <div class="product-price__old">
                                            {{good.price}} ₽
                                            <svg viewBox="0 0 52 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="product-price__line">
                                                <path d="M.88 3.938c16.403-3.917 33.836-3.917 50.238 0" stroke="#F34A57" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
                                            </svg>
                                        </div>
                                        <div class="product-price__new">
                                            <b>{{good.sell_price}} ₽</b>
                                        </div>
                                    {% else %}
                                        <div class="product-price__old">
                                            <br>
                                        </div>
                                        <div class="product-price__new" style='color: black;'>
                                            <b>{{good.price}} ₽</b>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
